#globalheader { width:100%; overflow:hidden; background-color:#fff; margin-bottom:10px; }
#globalheader nav { overflow:hidden; width:980px; margin:0 auto; }
#globallogo { margin-top:20px; }
#globallogo strong { ont-size:40px; color:#001C54; }

@media ( max-width: 768px ) {
	#globalheader nav { width:100%;}
	#globalnav { float:none; margin-top:20px; }
}

@media ( max-width: 480px ) {
	#globalheader nav { width:100%;}
	#globallogo div { width:0; }
}